<div class="tab-pane show" id="nav-credentials" role="tabpanel" aria-labelledby="nav-credentials-tab">
    <button style="margin: 0.25em;" type="button" class="btn btn-info float-right" data-toggle="modal" data-target="#credential-modal">
        + Add a New Credential
    </button>

    <div class="table-responsive">
        <table class="table table-striped" id="credentialTable">
            <thead>
                <tr>
                    <th style="width: 20%" scope="col"></th>
                    <th style="width: 35%" scope="col">URL</th>
                    <th style="width: 20%" scope="col">Username</th>
                    <th style="width: 25%" scope="col">Password</th>
                </tr>
            </thead>
            <tbody>
            <tr th:each="credential : ${credentialList}">
                <td>
                    <a class="btn btn-success" th:href="@{'/credentials/getDecryptedPassword/'+${credential.credentialId}}" th:id="'credential-button-'+${credential.credentialId}" th:attr="data-credential-id=${credential.credentialId},data-credential-url=${credential.url},data-credential-username=${credential.username},data-credential-password=${decryptedPasswordOfCredentialBeingViewed}">Edit</a>
                    <a class="btn btn-danger">Delete</a>
                </td>
                <th scope="row" th:text="${credential.url}">Example Credential URL</th>
                <td th:text="${credential.username}">Example Credential Username</td>
                <td th:text="${credential.password}">Example Credential Password</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="modal fade" id="credential-modal" tabindex="-1" role="dialog" aria-labelledby="credentialModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="credentialModalLabel">Credential</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="#" method="POST" th:action="@{/credentials/add}" th:object="${newCredential}" id="credential-modal-form">
                        <input type="hidden" name="credentialId" id="credential-id">
                        <div class="form-group">
                            <label for="credential-url" class="col-form-label">URL</label>
                            <input type="text" name= "url" class="form-control" id="credential-url" maxlength="100" required th:field="*{url}">
                        </div>
                        <div class="form-group">
                            <label for="credential-username" class="col-form-label">Username</label>
                            <input type="text" name= "username" class="form-control" id="credential-username" maxlength="30" required th:field="*{username}">
                        </div>
                        <div class="form-group">
                            <label for="credential-password" class="col-form-label">Password</label>
                            <input type="text" name= "password" class="form-control" id="credential-password" maxlength="30" required th:field="*{password}">
                        </div>
                        <button id="credentialSubmit" type="submit" class="d-none"></button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="$('#credentialSubmit').click();">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <script th:src="@{/js/jquery-3.5.1.min.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>

    <script type="text/javascript">
        if(!urlParams){
            const urlParams = new URLSearchParams(window.location.search)
        }

        if(!credentialId){
            const credentialId = urlParams.get('credentialId')
        }

        const isViewingCredential = urlParams.get('isViewingCredential')

        if(isViewingCredential){
            var button = $('#'+'credential-button-'+credentialId)
            var credentialUrl = button.data('credential-url')
            var credentialUsername = button.data('credential-username')
            var credentialPassword = button.data('credential-password')

            $('#credential-id').val(credentialId ? credentialId : '');
            $('#credential-url').val(credentialUrl ? credentialUrl : '');
            $('#credential-username').val(credentialUsername ? credentialUsername : '');
            $('#credential-password').val(credentialPassword ? credentialPassword : '');

            $('#credential-modal-form').attr("action",`credentials/update/${credentialId}`)
            $('#credential-modal').modal('show')
        }

        //case modal is opened for adding credential, clear all input, and set form action to credentials/add
        $('#credential-modal').on('show.bs.modal', function (event) {
            $('#credential-id').val('');
            $('#credential-url').val('');
            $('#credential-username').val('');
            $('#credential-password').val('');
            $('#credential-modal-form').attr("action",`credentials/add`)
        })
    </script>

</div>
