<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap.min.css}">

        <title>Home</title>
    </head>

    <body class="p-3 mb-2 bg-light text-black">
        <div class="container">
            <div id="logoutDiv">
                <form action="#" method="POST">
                    <button type="submit" class="btn btn-secondary float-right">Logout</button>
                </form>
            </div>

            <div class="row">
                <div class="col">
                    <ul class="nav nav-tabs mt-5" id="nav-tab">
                        <li class="nav-item"><a href="#files" data-url="/files" class="nav-link" th:classappend="${isFilesActive}? active : not-active">Files</a></li>
                        <li class="nav-item"><a href="#notes" data-url="/notes" class="nav-link" th:classappend="${isNotesActive}? active : not-active">Notes</a></li>
                        <li class="nav-item"><a href="#credentials" data-url="/credentials" class="nav-link" th:classappend="${isCredentialsActive}? active : not-active">Credentials</a></li>
                    </ul>

                    <div class="tab-content pt-3">
                        <div class="tab-pane active" id="files">Active panel</div>
                        <div class="tab-pane" id="notes"></div>
                        <div class="tab-pane" id="credentials"></div>
                    </div>
                </div>
            </div>
        </div>

    <script th:src="@{/js/jquery-3.5.1.min.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>

    <script>
        $('#nav-tab a').click(function (e) {
            e.preventDefault();

            var url = $(this).attr("data-url");
            var href = this.hash;
            var pane = $(this);

            // ajax load from data-url
            $(href).load(url, function (result) {
                pane.tab('show');
            });
        });

        // load first tab content
        $('#files').load($('.nav-link.active').attr("data-url"), function (result) {
        });
    </script>

</body>
</html>