<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout}"
>
  <head>
    <title>Store notes</title>
  </head>
  <body>
    <div layout:fragment="content">
      <div class="container">
        <section>
          <div
            class="d-flex justify-content-between align-items-center mt-3"
            style="height: 50px"
          >
            <div id="alert-container">
              <!-- create note successful alert -->
              <div
                class="alert alert-success alert-dismissible float-left fade d-none"
                role="alert"
                id="alert-success-note-create"
              >
                <span id="alert-message-success-note-create"
                  >Great! A new note has been successfully added!</span
                >
                <button
                  type="button"
                  class="close"
                  data-dismiss="alert"
                  aria-label="Close"
                  id="alert-close-success-note-create"
                >
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <!-- update note successful alert -->
              <div
                class="alert alert-success alert-dismissible float-left fade d-none"
                role="alert"
                id="alert-success-note-update"
              >
                <span id="alert-message-success-note-update"
                  >The note you selected has been updated!</span
                >
                <button
                  type="button"
                  class="close"
                  data-dismiss="alert"
                  aria-label="Close"
                  id="alert-close-success-note-update"
                >
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <!-- delete note successful alert -->
              <div
                class="alert alert-success alert-dismissible float-left fade d-none"
                role="alert"
                id="alert-success-note-delete"
              >
                <span id="alert-message-success-note-delete"
                  >The note has been removed</span
                >
                <button
                  type="button"
                  class="close"
                  data-dismiss="alert"
                  aria-label="Close"
                  id="alert-close-success-note-delete"
                >
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <!-- alert-container -->
            </div>

            <button
              type="button"
              class="btn btn-primary"
              data-toggle="modal"
              data-target="#note-modal-cru"
              th:id="note-create-button"
            >
              Add a New Note +
            </button>
          </div>

          <h1 class="mb-3">Notes that you added so far</h1>

          <!-- Table showing all notes -->
          <div class="table-responsive">
            <table class="table table-light">
              <thead class="bg-light">
                <tr>
                  <th style="width: 20%" scope="col">Title</th>
                  <th style="width: 60%" scope="col">Description</th>
                  <th style="width: 20%" scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="note : ${noteList}">
                  <td
                    scope="row"
                    th:text="${note.noteTitle}"
                    th:id="'note-data-title-'+${note.noteId}"
                  >
                    Example Note Title
                  </td>
                  <td
                    th:text="${note.noteDescription}"
                    th:id="'note-data-description-'+${note.noteId}"
                  >
                    Example Note Description
                  </td>
                  <td>
                    <button
                      type="button"
                      class="btn btn-outline-success"
                      data-toggle="modal"
                      data-target="#note-modal-cru"
                      th:id="'note-update-button-'+${note.noteId}"
                      th:attr="data-note-id=${note.noteId},data-note-title=${note.noteTitle},data-note-description=${note.noteDescription}"
                    >
                      Edit
                    </button>
                    <a
                      class="btn btn-outline-danger"
                      data-toggle="modal"
                      data-target="#note-modal-delete"
                      th:id="'note-delete-button-'+${note.noteId}"
                      th:attr="data-note-id=${note.noteId},data-note-title=${note.noteTitle}"
                      >Delete</a
                    >
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </section>

        <!-- note create, update modal -->
        <div
          class="modal fade show"
          id="note-modal-cru"
          tabindex="-1"
          role="dialog"
          aria-labelledby="noteModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Note</h5>
                <button
                  type="button"
                  class="close"
                  data-dismiss="modal"
                  aria-label="Close"
                >
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form
                  action="#"
                  method="POST"
                  th:action="@{/notes/add}"
                  th:object="${newNote}"
                  id="note-modal-form"
                >
                  <div class="form-group">
                    <label for="note-title" class="col-form-label">Title</label>
                    <input
                      type="text"
                      name="noteTitle"
                      class="form-control"
                      id="note-modal-title-input"
                      maxlength="20"
                      required
                      th:field="*{noteTitle}"
                    />
                  </div>
                  <div class="form-group">
                    <label for="note-description" class="col-form-label"
                      >Description</label
                    >
                    <textarea
                      class="form-control"
                      name="noteDescription"
                      id="note-modal-description-input"
                      rows="5"
                      maxlength="1000"
                      required
                      th:field="*{noteDescription}"
                    ></textarea>
                  </div>
                  <button
                    id="note-form-submit"
                    type="submit"
                    class="d-none"
                  ></button>
                </form>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-outline-secondary"
                  data-dismiss="modal"
                  th:id="note-modal-close-button"
                >
                  Close
                </button>
                <button
                  type="button"
                  class="btn btn-outline-primary"
                  th:id="note-modal-save-button"
                  onclick="$('#note-form-submit').click();"
                >
                  Save changes
                </button>
              </div>
            </div>
          </div>
        </div>

        <!-- note delete modal -->
        <div
          class="modal fade"
          id="note-modal-delete"
          tabindex="-1"
          role="dialog"
          aria-labelledby="noteModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Note</h5>
                <button
                  type="button"
                  class="close"
                  data-dismiss="modal"
                  aria-label="Close"
                >
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <span id="note-delete-confirmation-message">
                  Do you want to delete this note?
                </span>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-outline-secondary"
                  data-dismiss="modal"
                >
                  Close
                </button>
                <a class="btn btn-outline-primary" id="note-modal-delete-link"
                  >Delete</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <th:block layout:fragment="scripts">
      <script src="/js/notes/.js" th:src="@{/js/notes.js}"></script>
    </th:block>
  </body>
</html>
