<div class="tab-pane show active" id="nav-files" role="tabpanel" aria-labelledby="nav-files-tab">
    <form action="#" enctype="multipart/form-data" method="POST" th:action="@{/files/add}">
        <div class="container">
            <div class="row" style="margin: 1em;">
                <div class="col-sm-2">
                    <label for="fileUpload">Upload a New File:</label>
                </div>
                <div class="col-sm-6">
                    <input type="file" class="form-control-file" id="fileUpload" name="fileUpload" required>
                </div>
                <div class="col-sm-4">
                    <button type="submit" class="btn btn-dark">Upload</button>
                </div>
            </div>
        </div>
    </form>

    <div class="alert alert-dark float-left show mr-2" role="alert" id="file-size-max-alert">
        <span id="file-size-max-message">Please upload a file that is less than 200kb</span>
    </div>

    <div class="alert alert-success alert-dismissible fade float-left" role="alert" id="file-alert">
        <span id="file-alert-message">Great! The file you selected has been successfully uploaded</span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" id="file-alert-close-button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="table-responsive">
        <table class="table table-striped" id="fileTable">
            <thead>
                <tr>
                    <th style="width: 20%" scope="col"></th>
                    <th style="width: 80%" scope="col">File Name</th>
                </tr>
            </thead>
            <tbody>
            <tr th:each="file:${files}">
                <td>
                    <a class="btn btn-success" th:href="@{'files/'+${file}}">View</a>
                    <a  class="btn btn-danger" th:href="@{'files/delete/'+${file}}">Delete</a>
                </td>
                <th scope="row" th:text="${file}">ExampleFile.txt</th>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<script th:src="@{/js/jquery-3.5.1.min.js}"></script>
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>

<script type="text/javascript">
        if(!urlParams){
            var urlParams = new URLSearchParams(window.location.search)
        }else{
            urlParams = new URLSearchParams(window.location.search)
        }

        isAlertToBeOpened = urlParams.get('isAlertToBeOpened')
        alertType = urlParams.get('alertType')
        alertForResource = urlParams.get('alertForResource')
        alertContent = urlParams.get('alertContent')

        const closeNoteAlert = () => {
            $('#file-alert-close-button').click()
        }

        if(isAlertToBeOpened){
            if(alertForResource==='file'){
                if(alertType==='success'){
                    let messageText = ''

                    switch(alertContent){
                        case 'create':
                            messageText = 'Great! The file you selected has been successfully uploaded'
                            break
                        case 'delete':
                            messageText = 'The file you selected has been removed'
                            break
                        default:
                            messageText = 'Success'
                    }

                    $('#file-alert-message').text(messageText)
                }

                $('#file-alert').addClass('show')
                setTimeout(closeNoteAlert,1500)
            }
        }

</script>