<div class="tab-pane show" id="nav-notes" role="tabpanel" aria-labelledby="nav-notes-tab">
    <div>
        <div class="alert alert-success alert-dismissible float-left fade" role="alert" id="note-alert">
            <span>Great! A new note has been successfully added!</span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <button style="margin: 0.25em;" type="button" class="btn btn-info float-right" data-toggle="modal" data-target="#note-modal">
            + Add a New Note
        </button>
    </div>

    <div class="table-responsive">
        <table class="table table-striped" id="userTable">
            <thead>
            <tr>
                <th style="width: 20%" scope="col"></th>
                <th style="width: 20%" scope="col">Title</th>
                <th style="width: 60%" scope="col">Description</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="note : ${noteList}">
                <td>
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#note-modal" th:id="'note-button-'+${note.noteId}" th:attr="data-note-id=${note.noteId},data-note-title=${note.noteTitle},data-note-description=${note.noteDescription}">Edit</button>
                    <a class="btn btn-danger" data-toggle="modal" data-target="#note-delete-modal" th:id="'note-delete-button-'+${note.noteId}" th:attr="data-note-id=${note.noteId},data-note-title=${note.noteTitle}">Delete</a>
                </td>
                <th scope="row" th:text="${note.noteTitle}">Example Note Title </th>
                <td th:text="${note.noteDescription}">Example Note Description </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="modal fade" id="note-modal" tabindex="-1" role="dialog" aria-labelledby="noteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="noteModalLabel">Note</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="#" method="POST" th:action="@{/notes/add}" th:object="${newNote}" id="note-modal-form">
                        <input type="hidden" name="noteId" id="note-id">
                        <div class="form-group">
                            <label for="note-title" class="col-form-label">Title</label>
                            <input type="text" name= "noteTitle" class="form-control" id="note-title" maxlength="20" required th:field="*{noteTitle}">
                        </div>
                        <div class="form-group">
                            <label for="note-description" class="col-form-label">Description</label>
                            <textarea class="form-control" name="noteDescription" id="note-description" rows="5" maxlength="1000" required th:field="*{noteDescription}"></textarea>
                        </div>
                        <button id="noteSubmit" type="submit" class="d-none"></button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="$('#noteSubmit').click();">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="note-delete-modal" tabindex="-1" role="dialog" aria-labelledby="noteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="noteDeleteModal">Note</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <span id="note-delete-confirmation-message">
                        Do you want to delete this note?
                    </span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <a class="btn btn-primary" id="note-delete-link">Delete</a>
                </div>
            </div>
        </div>
    </div>

    <script th:src="@{/js/jquery-3.5.1.min.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>

    <script type="text/javascript">
        $('#note-modal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget)
            var noteId = button.data('note-id')
            var noteTitle = button.data('note-title')
            var noteDescription = button.data('note-description')

            $('#note-id').val(noteId ? noteId : '');
            $('#note-title').val(noteTitle ? noteTitle : '');
            $('#note-description').val(noteDescription ? noteDescription : '');
            $('#note-modal-form').attr("action",noteId? `notes/update/${noteId}` : `notes/add`)
        })

        $('#note-delete-modal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget)
            var noteId = button.data('note-id')
            var noteTitle = button.data('note-title')

            $('#note-delete-confirmation-message').text(`Do you want to delete this message with title "${noteTitle}" ?`);
            $('#note-delete-link').attr("href",`notes/delete/${noteId}`)
        })

        if(!urlParams){
            var urlParams = new URLSearchParams(window.location.search)
        }else{
            urlParams = new URLSearchParams(window.location.search)
        }

        if(typeof isNoteCreateSucceeded === 'undefined'){
            var isNoteCreateSucceeded = urlParams.get('isNoteCreateSucceeded')
        }

        isNoteCreateSucceeded = urlParams.get('isNoteCreateSucceeded')

        if(isNoteCreateSucceeded){
            $('#note-alert').addClass('show')
        }

    </script>
</div>
