<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout}"
>
  <head>
    <title>Super Duper Drive | Error</title>
  </head>

  <body>
    <div layout:fragment="content">
      <div class="container d-flex flex-column mb-5">
        <div class="jumbotron bg-white">
          <h1>Opps! Something went wrong.</h1>
          <h2 class="lead mb-5">
            We gonna make sure that the problem get fixed.
          </h2>
          <a th:href="@{/}">Let's take you back to homepage &#8594;</a>
        </div>
        <!-- jumbotron -->
      </div>
      <!-- container -->
    </div>
    <!-- layout:fragment -->
  </body>
</html>
