<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout}"
>
  <head>
    <title>Store credentials</title>
  </head>
  <body>
    <div layout:fragment="content">
      <div class="container">
        <section>
          <div
            class="d-flex justify-content-between align-items-center mt-3"
            style="height: 50px"
          >
            <div id="alert-container">
              <!-- create credential successful alert -->
              <div
                class="alert alert-success alert-dismissible float-left fade d-none"
                role="alert"
                id="alert-success-credential-create"
              >
                <span id="alert-message-success-credential-create"
                  >Great! A new credential has been successfully added!</span
                >
                <button
                  type="button"
                  class="close"
                  data-dismiss="alert"
                  aria-label="Close"
                  id="alert-close-success-credential-create"
                >
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <!-- update credential successful alert -->
              <div
                class="alert alert-success alert-dismissible float-left fade d-none"
                role="alert"
                id="alert-success-credential-update"
              >
                <span id="alert-message-success-credential-update"
                  >The credential you selected has been updated!</span
                >
                <button
                  type="button"
                  class="close"
                  data-dismiss="alert"
                  aria-label="Close"
                  id="alert-close-success-credential-update"
                >
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <!-- delete credential successful alert -->
              <div
                class="alert alert-success alert-dismissible float-left fade d-none"
                role="alert"
                id="alert-success-credential-delete"
              >
                <span id="alert-message-success-credential-delete"
                  >The credential has been removed</span
                >
                <button
                  type="button"
                  class="close"
                  data-dismiss="alert"
                  aria-label="Close"
                  id="alert-close-success-credential-delete"
                >
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            </div>

            <button
              type="button"
              class="btn btn-primary"
              data-toggle="modal"
              data-target="#credential-modal-cru"
              th:id="credential-create-button"
            >
              Add a New Credential +
            </button>
          </div>

          <h1 class="mb-3">Credentials that you added so far</h1>

          <!-- Table showing all credentials -->
          <div class="table-responsive">
            <table class="table table-light" id="credentialTable">
              <thead class="bg-light">
                <tr>
                  <th style="width: 30%" scope="col">URL</th>
                  <th style="width: 20%" scope="col">Username</th>
                  <th style="width: 30%" scope="col">Password</th>
                  <th style="width: 20%" scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="credential : ${credentialList}">
                  <td
                    scope="row"
                    th:text="${credential.url}"
                    th:id="'credential-data-url-'+${credential.credentialId}"
                  >
                    Example Credential URL
                  </td>
                  <td
                    th:text="${credential.username}"
                    th:id="'credential-data-username-'+${credential.credentialId}"
                  >
                    Example Credential Username
                  </td>
                  <td
                    th:text="${credential.password}"
                    th:id="'credential-data-password-'+${credential.credentialId}"
                  >
                    Example Credential Password
                  </td>
                  <td>
                    <a
                      class="btn btn-outline-success"
                      th:href="@{'/credentials/'+${credential.credentialId}}"
                      th:id="'credential-update-button-'+${credential.credentialId}"
                      th:attr="data-credential-id=${credential.credentialId},data-credential-url=${credential.url},data-credential-username=${credential.username},data-credential-password=${decryptedPasswordOfCredentialBeingViewed}"
                      >Edit</a
                    >
                    <a
                      class="btn btn-outline-danger"
                      data-toggle="modal"
                      data-target="#credential-modal-delete"
                      th:id="'credential-delete-button-'+${credential.credentialId}"
                      th:attr="data-credential-id=${credential.credentialId},data-credential-url=${credential.url}"
                      >Delete</a
                    >
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </section>

        <!-- note create, update modal -->
        <div
          class="modal fade"
          id="credential-modal-cru"
          tabindex="-1"
          role="dialog"
          aria-labelledby="credentialModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="credentialModalLabel">
                  Credential
                </h5>
                <button
                  type="button"
                  class="close"
                  data-dismiss="modal"
                  aria-label="Close"
                >
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form
                  action="#"
                  method="POST"
                  th:action="@{/credentials/add}"
                  th:object="${newCredential}"
                  id="credential-modal-form"
                >
                  <div class="form-group">
                    <label for="credential-url" class="col-form-label"
                      >URL</label
                    >
                    <input
                      type="text"
                      name="url"
                      class="form-control"
                      maxlength="100"
                      required
                      th:field="*{url}"
                      id="credential-modal-url-input"
                    />
                  </div>
                  <div class="form-group">
                    <label for="credential-username" class="col-form-label"
                      >Username</label
                    >
                    <input
                      type="text"
                      name="username"
                      class="form-control"
                      maxlength="30"
                      required
                      th:field="*{username}"
                      id="credential-modal-username-input"
                    />
                  </div>
                  <div class="form-group">
                    <label for="credential-password" class="col-form-label"
                      >Password</label
                    >
                    <input
                      type="text"
                      name="password"
                      class="form-control"
                      maxlength="30"
                      required
                      th:field="*{password}"
                      id="credential-modal-password-input"
                    />
                  </div>
                  <button
                    id="credentialSubmit"
                    type="submit"
                    class="d-none"
                  ></button>
                </form>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-outline-secondary"
                  data-dismiss="modal"
                  th:id="credential-modal-close-button"
                >
                  Close
                </button>
                <button
                  type="button"
                  class="btn btn-outline-primary"
                  onclick="$('#credentialSubmit').click();"
                  th:id="credential-modal-save-button"
                >
                  Save changes
                </button>
              </div>
            </div>
          </div>
        </div>

        <!-- note delete modal -->
        <div
          class="modal fade"
          id="credential-modal-delete"
          tabindex="-1"
          role="dialog"
          aria-labelledby="credentialModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="credentialDeleteModal">Note</h5>
                <button
                  type="button"
                  class="close"
                  data-dismiss="modal"
                  aria-label="Close"
                >
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <span id="credential-delete-confirmation-message">
                  Do you want to delete this credential?
                </span>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-outline-secondary"
                  data-dismiss="modal"
                >
                  Close
                </button>
                <a
                  class="btn btn-outline-primary"
                  id="credential-modal-delete-link"
                  >Delete</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <th:block layout:fragment="scripts">
      <script src="/js/notes/.js" th:src="@{/js/credentials.js}"></script>
    </th:block>
  </body>
</html>
