<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout}"
>
  <head>
    <title>Store files</title>
  </head>
  <body>
    <div layout:fragment="content">
      <section class="container">
        <div
          class="d-flex justify-content-between align-items-center mt-3"
          style="height: 50px"
        >
          <div id="alert-container">
            <!-- upload file successful alert -->
            <div
              class="alert alert-success alert-dismissible float-left fade d-none"
              role="alert"
              id="alert-success-file-upload"
            >
              <span id="alert-message-success-file-upload"
                >Great! The file has been stored.</span
              >
              <button
                type="button"
                class="close"
                data-dismiss="alert"
                aria-label="Close"
                id="alert-close-success-file-upload"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <!-- remove file successful alert -->
            <div
              class="alert alert-success alert-dismissible float-left fade d-none"
              role="alert"
              id="alert-success-file-remove"
            >
              <span id="alert-message-success-file-remove"
                >The file has been removed</span
              >
              <button
                type="button"
                class="close"
                data-dismiss="alert"
                aria-label="Close"
                id="alert-close-success-file-remove"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <!-- storage failure alert -->
            <div
              class="alert alert-danger alert-dismissible float-left fade d-none"
              role="alert"
              id="alert-error-file-storageFailure"
            >
              <span id="alert-message-error-file-storageFailure"
                >Oops! Something went wrong and we could not store the file.
                Please try again. <br />
              </span>
              <span id="alert-message-error-file-storageFailure-cause"
                >Cause
              </span>
              <button
                type="button"
                class="close"
                data-dismiss="alert"
                aria-label="Close"
                id="alert-close-error-file-storageFailure"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <!-- storage file not found alert -->
            <div
              class="alert alert-danger alert-dismissible float-left fade d-none"
              role="alert"
              id="alert-error-file-storageFileNotFound"
            >
              <span id="alert-message-error-file-storageFileNotFound"
                >Oops! Something went wrong and we could not get the file from
                storage. Please try again. <br />
              </span>
              <span id="alert-message-error-file-storageFileNotFound-cause"
                >Cause
              </span>
              <button
                type="button"
                class="close"
                data-dismiss="alert"
                aria-label="Close"
                id="alert-close-error-file-storageFileNotFound"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <!-- size limit exceeded alert -->
            <div
              class="alert alert-danger alert-dismissible float-left fade d-none"
              role="alert"
              id="alert-error-file-sizeLimitExceeded"
            >
              <span id="alert-message-error-file-sizeLimitExceeded"
                >Oops! Something went wrong and we could not get the file from
                storage. Please try again. <br />
              </span>
              <span id="alert-message-error-file-sizeLimitExceeded-cause"
                >Cause
              </span>
              <button
                type="button"
                class="close"
                data-dismiss="alert"
                aria-label="Close"
                id="alert-close-error-file-sizeLimitExceeded"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          </div>
          <!-- alert container -->

          <button
            type="submit"
            form="file-upload-form"
            class="btn btn-primary"
            id="file-upload-button"
          >
            Upload file +
          </button>
        </div>

        <form
          action="#"
          enctype="multipart/form-data"
          method="POST"
          th:action="@{/files/add}"
          class="mb-5"
          id="file-upload-form"
        >
          <div class="custom-file">
            <input
              type="file"
              class="form-control-file custom-file-input"
              id="fileUpload"
              name="fileUpload"
              required
            />
            <label for="fileUpload" class="custom-file-label"
              >Choose file</label
            >
            <small class="form-text text-muted"
              >Note: You can only upload file that is smaller then 10MB.</small
            >
          </div>
        </form>

        <h1 class="mb-3">Files that you uploaded so far</h1>

        <div class="table-responsive">
          <table class="table table-light" id="fileTable">
            <thead class="bg-light">
              <tr>
                <th style="width: 80%" scope="col">File Name</th>
                <th style="width: 20%" scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="file:${files}">
                <td th:text="${file}" th:id="'uploaded-filename-'+${file}">
                  ExampleFile.txt
                </td>
                <td>
                  <a
                    class="btn btn-outline-success"
                    th:href="@{'files/'+${file}}"
                    th:id="'uploaded-file-view-button-'+${file}"
                    >View</a
                  >
                  <a
                    class="btn btn-outline-danger"
                    th:href="@{'files/delete/'+${file}}"
                    th:id="'uploaded-file-delete-button-'+${file}"
                    >Delete</a
                  >
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </section>
    </div>

    <th:block layout:fragment="scripts">
      <script src="/js/files/.js" th:src="@{/js/files.js}"></script>
    </th:block>
  </body>
</html>
